# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
[Bb]in/
[Oo]bj/
Debug*/
Release*/
*.exe
*.dll
*.lib
*.ilk
*.pdb

# C/C++ intermediate
*.obj
*.o
*.gch
*.pch

# Misc
*.log
*.cache
Thumbs.db
*.tmp